<div class="well">
  <%= form_for(:playground, method: 'get') do %>
      <div class="form-group">
        <h5><%= I18n.t 'time' %></h5>
        <%= label(:playground, :start_time) %>
        <%= text_field(:playground, :start_time, {value: '07:00', type: 'time'}) %>
        <%= label(:playground, :end_time) %>
        <%= text_field(:playground, :end_time, {value: '23:59', type: 'time'}) %>
        <input type="text" class="slider-time" value=""
               data-slider-min="0"
               data-slider-max="24"
               data-slider-step="1"
               data-slider-value="[7,10 ]"
               data-slider-orientation="horizontal"
               data-slider-selection="after"
               data-slider-tooltip="show">
      </div>
      <hr/>
      <div class="form-group">
        <h5><%= I18n.t 'price' %></h5>

        <%= text_field(:playground, :min_price, {value: '0', type: 'number'}) %>
        <%= text_field(:playground, :max_price, {value: '2000', type: 'number'}) %>
        <input type="text" class="slider-price" value=""
               data-slider-min="0"
               data-slider-max="2000"
               data-slider-step="50"
               data-slider-value="[0,2000]"
               data-slider-orientation="horizontal"
               data-slider-selection="after"
               data-slider-tooltip="show">
      </div>

      <hr/>
      <div class="form-group roof">
        <h5><%= I18n.t 'roof' %></h5>
        <%= collection_radio_buttons(:roof, :name, Roof.all, :id, :name) %>
      </div>

      <hr/>
      <div class="form-group infrastructure">
        <h5><%= I18n.t 'infrastructure' %></h5>
        <%= collection_check_boxes(:infrastructure, :name, Infrastructure.all, :id, :name) %>
      </div>
      <hr/>
      <div class="form-group cover">
        <h5><%= I18n.t 'cover' %></h5>
        <%= collection_check_boxes(:infrastructure, :name, Cover.all, :id, :name) %>
      </div>
  <% end %>
</div>