<div class="row">
  <div class="col-md-3 left-filter">
    <%= render 'filters' %>
  </div>
  <div class="col-md-offset-1 col-md-8">
  <% @playgrounds.each do |playground| %>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <%= link_to playground_path(playground), class: 'itm-link' do %>
                <%= playground.name %> (<%= playground.sport_type.name %>)
            <% end %>
            <table class="table table-bordered">
              <tr>
                <td><%= I18n.t 'playground.address'%></td>
                <td><%= playground.address %></td>
              </tr>
              <tr>
                <td><%= I18n.t 'playground.cover'%></td>
                <td><%= playground.cover.name %></td>
              </tr>
            </table>
          </div>
          <div class="col-md-3">
            <div><%= I18n.t 'playground.rating' %></div>
            <div> Цена от <%= playground.min_price %> сом/час</div>
          </div>
        </div>
    <% end %>
    <%= paginate @playgrounds %>
  </div>
</div>