<%= @playground.name %>
<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#characteristics" role="tab" data-toggle="tab">Характеристики</a></li>
      <li><a href="#description" role="tab" data-toggle="tab">Описание</a></li>
      <li><a href="#payment" role="tab" data-toggle="tab">Способы оплаты</a></li>
      <li><a href="#ask-question" role="tab" data-toggle="tab">Задать вопрос</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade" id="characteristics">

        <div class="row">
          <p class="col-md-3">Виды спорта:</p>

          <p class="col-md-9"><%= @playground.sport_type.name %></p>
        </div>
        <div class="row">
          <p class="col-md-3">Размер:</p>

          <p class="col-md-9"><%= @playground.size %></p>
        </div>
        <div class="row">
          <p class="col-md-3">Макс. кол-во игроков:</p>

          <p class="col-md-9"><%= @playground.max_players %></p>
        </div>
        <div class="row">
          <p class="col-md-3">Тип площадки:</p>

          <p class="col-md-9"><%= @playground.roof.name %></p>
        </div>
        <div class="row">
          <p class="col-md-3">Покрытие:</p>

          <p class="col-md-9"><%= @playground.cover.name %></p>
        </div>
        <div class="row">
          <p class="col-md-3">Инфраструктура:</p>

          <p class="col-md-9"></p>
        </div>
      </div>

      <div class="tab-pane fade" id="description">
        <p><%= @playground.description %></p>
      </div>
      <div class="tab-pane fade" id="payment">

      </div>
      <div class="tab-pane fade" id="ask-question">

      </div>
    </div>
    <div>
      <h3>Отзывы</h3>
      <ul>
        <li>
          <% @playground.reviews.each do |review| %>
              <div class="row">
                <div class="col-md-offset-5"><%= review.created_at.to_s(:db) %></div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p>Площадка <span><%= review.field_rating %> </span></p>
                </div>

                <div class="col-md-3">
                  <p>Инфраструктура <span><%= review.infrastructure_rating %> </span></p>
                </div>

                <div class="col-md-3">
                  <p>Персонал <span><%= review.personal_rating %> </span></p>
                </div>

                <div class="col-md-3">
                  <p>Расположение <span><%= review.location_rating %> </span></p>
                </div>
              </div>
              <div class="row">
                <p class="text-muted">Покрытие:</p>

                <p><%= review.cover_description %></p>

                <p class="text-muted">Инфраструктура:</p>

                <p><%= review.infrastructure_description %></p>

                <p class="text-muted">Общее впечатления:</p>

                <p><%= review.general_impression %></p>
              </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<%= link_to 'Быстрое бронирование', '#' %>