<%= form_tag(playgrounds_path, method: 'get') do %>
    <%= collection_select(:sport_type_id, 0, SportType.all, :id, :name) %>
    <%= collection_select(:region_id, 0, Region.all, :id, :name) %>
    <%= time_field(:playground, :start_time) %>
    <%= time_field(:playground, :end_time) %>
    <%= submit_tag(I18n.t 'search') %>
<% end %>