// Place all the styles related to the Playgrounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-filter {
  .slider {
    width: 100% !important;
  }
  .hr {
    margin: 10px 0;
  }
  h5 {
    font-weight: bold;
  }
  input[type=number], input[type=time] {
    width: 75px;
  }
  input[type=number]:nth-child(odd), input[type=time]:nth-child(odd) {
    float: right;
  }
  .infrastructure, .cover {
    label {
      display: inline;
      font-weight: normal;
    }
    input[type=checkbox] {
      margin-right: 10px;
    }
    label:after {
      content: "\a";
      white-space: pre;
    }

  }
  .roof label:first-child {
    margin-right: 40px;
  }
}
