// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-slider";

html, body, .body{
  height: 100%;
}
.body{
  margin-bottom: 100px;
}
footer{
  display: block;
  margin-top: -100px;
}

.left-filter input[type=checkbox] {
  display: inline;
}