<header class="">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to('Brand', root_path, {class: 'navbar-brand'}) %>
      </div>
      <%= form_tag "/city/change", {method: "post", class: 'navbar-form navbar-lef', role: 'search'} do %>
          <div class="form-group">
            <%= collection_select(:city_id, 0, City.all, :id, :name, {:selected => cookies[:city_id]}, {onchange: "this.form.submit();", class: 'form-control'}) %>
          </div>
      <% end %>
    </div>
  </nav>
</header>